header{
    background-color: black;
    height: 112px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;

    .logo{
        grid-column: 1;
        grid-row: 1/3;
        width: 6rem;
        height: auto;
        img{
            width: 100%;
            height: auto;
        }
    }
    .dropdown{
        grid-column: 2;
        grid-row: 1;
        ul{
            padding: none;
            margin-left: 4rem;
            color: white;
            li a{
                color: white;
            }
        }
    }
    

   
    .call{
        grid-column: 2;
        grid-row: 2;
        color: white;
        text-align: right;
        width: max-content;
        height: max-content;
        justify-self: right;
        align-self: center;
        font-size: 1rem;
        text-decoration: none;

        &:hover{
            
            color: grey;
        }
        &:active{
            transition: all 0.2s ease-in;
            
        }
    }

}


@media only screen and(min-width: 768px){
    
    header .call{
        
        pointer-events: none;

        &:hover{
            font-size: 1.5rem;
            color: grey;
        }
    }
    .dropdown ul{
        display: inline-flex;
        list-style: none;
        color: white;
         margin-top: 28px;
    
    }
    .dropdown ul li{
        padding: 5px;
    }
    .dropdown ul li a{
        text-decoration: none;
        color: white;
    }
     .dropdown ul li:hover{
        background-color: gray;
    }
    .dropdown .fa{
        margin-left: 6px;
    }
    
    .dropdown ul li:hover .submenu{
        display: block;
        position: absolute;
        
        margin-left: -15px;
    
    }
    .dropdown ul li:hover .submenu ul{
        display: block;
        margin: 10px;
    }
    .menubar .fa{
        display: none;
    }
}
@media only screen and(min-width: 991px){
    header .call{
        line-height: 3vw;
        pointer-events: none;

        &:hover{
            font-size: 1.5rem;
            color: grey;
        }
    }

    .dropdown{
        text-align: center;
        font-size: 18px;
    }
    .dropdown ul{
        display: inline-flex;
        list-style: none;
        color: white;
        margin-top: 30px;
    
    }
    .dropdown ul li{
        width: 150px;
        padding: 3px;
        
    }
    .dropdown ul li a{
        text-decoration: none;
        color: white;
    }
     .dropdown ul li:hover{
        background-color: gray;
    }
    .dropdown .fa{
        margin-left: 6px;
    }
    
    .dropdown ul li:hover .submenu{
        display: block;
        position: absolute;
        
        margin-left: -15px;
    
    }
    .dropdown ul li:hover .submenu ul{
        display: block;
        margin: 10px;
    }
    .menubar .fa{
        display: none;
    }

   
}
    